<mat-toolbar class="nav-bar mat-elevation-z2">
  <button mat-button [routerLink]="['/']">Home</button>
  <ng-container *ngIf="appUser">
    <button style="min-width: 30px;"
      mat-button
      [routerLinkActive]="['link-active']"
      [routerLink]="['/addpost']"
    >
    <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </ng-container>
  <span class="spacer"></span>
  <button style="min-width: 10px;"  mat-button>
    <a
      href="https://www.youtube.com/channel/UCELt2uJpVNBOfsUNQ68j-qA"
      target="_blank"
      ><i class="fab fa-youtube" aria-hidden="true"></i> Youtube</a
    >
  </button>
  <ng-template #anonymousUser>
    <button mat-button (click)="login()">Login with Google</button>
  </ng-template>
  <ng-container *ngIf="appUser; else anonymousUser">
    <img mat-card-avatar class="user-avatar" src="{{ appUser.photoURL }}" />
    <button mat-button [matMenuTriggerFor]="menu">
      {{ appUser.name | titlecase }}<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
